/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box {
  background-color: purple;
}

.box-inner-box {
  background-color: red;
  padding: 10px;
  margin: 0px 5px 0px 5px;
  
}

.white-text {
  color: white;
}